@media screen and (max-width:576px) {
    /* *{
       border: 1px solid red;
    } */
    .body {
        overflow-x: hidden !important;
    }
    
    nav {
        flex-direction: column;
        margin: 0 15px;
        align-items: start;
    

    }

    .logo {

        display: flex;
        justify-content: space-between;
    }

    .bar {
        align-items: center;
        justify-content: end;
    }

    .bar img {
        visibility: visible;
        width: 24px;
        height: 24px;
        margin-left: 200px;

    }

    .logo img {
        width: 28.724px;
        height: 33.516px;

    }

    .logo h1 p {
        color: #131318;
        font-size: 21.543px;
        font-weight: 800;
    }

    .logo h1 {
        margin-right: 100px;
        color: rgb(19, 19, 24);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        margin-left: 16px;
    }

    .item ul {
        visibility: hidden;
        display: block;

    }

    /* benner section style */
    .banner-section {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        /* position: absolute; */
        margin-top: -100px;
    }

    .banner-title h1 {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
        margin-top: 30px;
    }

    .banner-p p {
        max-width: 100%;

    }

    .banner-input {
        flex-direction: column;
    }

    /* populer section */
    .populer-section {
        margin: 2px 2px;
    }

    .populer-container {
        flex-direction: column;
        gap: 24px;
        justify-content: left;
    }

    .populer-contain {
        max-width: 100%;
    }

    .populer-contain p,
    .populer-contain h3 {
        max-width: 100%;
        max-height: 100%;
        width: 335px;
        justify-content: center;
        margin-left: 10px;
        margin: 0 auto;
    }

    .contain-img img {
        max-width: 100%;
        max-height: 100%;
        margin-left: 15px;
    }

    .little-p ul li {
        width: 335px;
        margin-left: 20px;
        margin: 0 auto;

    }
    #btn-populer{
        margin-left: 100px;
        margin-top: 5px;
    }

    /* Destination-scetion */
    .Destination-scetion {
        margin: 5px 2px;
    }

    .Destination-title {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        justify-content: center;

    }

    .Destination-title h1 {
        margin-top: 40px;
        margin-bottom: 7px;
    }

    .Destination-title p {
        width: 80%;
        color: rgba(19, 19, 24, 0.70);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-left: 30px;
        margin-bottom: 20px;
       
        
    }

    .img-1,
    .img-3,
    .img-2 {
        flex-direction: column;
        gap: 16px;
    }
    .img-1 p, .img-3 p, .img-2 p{
        margin-right: 200px;
    }

    .main-img {
        width: 98%;
        margin-left: 4px;
    }

    /* Choose-section */
    .Choose-section {
        margin: 5px 2px;
    }

    .choose-title {
        max-width: 100%;
        max-height: 100%;
    }

    .Choo-little-container {
        flex-direction: column;
    }

    .Destination-title {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        justify-content: center;
    }

    .Destination-title h1 {

        margin-bottom: 7px;
    }

    .Destination-title p {
        width: 80%;
        color: rgba(19, 19, 24, 0.70);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-left: 50px;
    }

    .choose-title {
        width: 335px;
        height: 361px;
        margin: 0 auto;

    }

    .choose-title p {
        width: 271px;
    }

    .choose-title img {
        width: 48px;
        height: 48px;
    }

    /* .Deals-section */
    .Deals-section {
        margin: 5px 2px;
        margin-left: 25px;
    }

    .deal-section-1 {
        /* width: 335px; */
        width: 100%;
        height: 600px;
        object-fit: contain;
      
        
    }

    .deal-containt {
        width: 303px;
        height: 437px;
        /* margin: 150px 16px 16px 16px; */
        margin-top: 150;
        margin-bottom: 16px;
        margin: 150px auto 16px auto;
        margin-left: 100px;
       
    }

    .deal-dtl p {
        width: 254px;
        margin: 0 auto;
    }

    .deal-header {
        margin-top: 26px;
    }

    .deal-header h2 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    .deal-dtl button {
        width: 130px;
        height: 40px;
    }

    .deal-contadiner-scend {

        /* width: 335px; */
        width: 100%;
        height: 600px;
        object-fit: contain;
    
       
    }

    #deal-scend {
        margin-left: 15px;
        margin-left: 100px;
        
    }





    #parfact-up-btn{
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 170px;
    }
      


    /* Perfect-section style start */
    .Perfect-section {
        margin: 2px 3px;
        margin: 0 auto;
    }

    .Perfect-container {
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
      
    }

    .Perfect-title {
        margin: 0 auto;
       
    }

    .Perfect-title h1 {
        width: 248px;
        font-size: 20px;
    }

    .Perfect-title p {
        width: 335px;

    }

    .Perfect-title ul>li {
        width: 335px;
    }

    .Perfect-title button {
        margin-bottom: 15px;
        margin-left: 65px;
    }

    .Perfect-img {
        /* width: 335px; */
        width: 90%;
        height: 200px;
       margin: 0 auto;
        margin-bottom: 20px;
    }

    .Perfect-img h1 {
        margin: 50px auto;
    }



    /* Newsletter-section style */
    .Newsletter-section {
        margin: 2px 3px;
    }

    .Newsletter-container {
        flex-direction: column;
        
    }

    .Newsletter-form {
       width: 100%;
       height: 100%;
       margin-bottom: 10px;
     
       
    }
    .Newsletter-form h1{
        margin-left: 210px;
    }
    .Newsletter-form p{
        margin-left: 100px;
    }
    .Newsletter-form input {
        width: 288px;
        height: 52px;
        margin-left: 150px;
    }
    .Newsletter-form input::placeholder{
        margin-left: 5px;
    }

    .Subscribe-btn {
        width: 288px;
        height: 52px;
        margin-bottom: 24px;
        margin-left: 150px;

    }

    .Newsletter-img {
        justify-content: center;
        align-items: center;
    }

    .Newsletter-img img {
        width: 100%;
        height: 100%;
        margin-left: -10px;
        
        justify-content: center;
        align-items: center;
    }

    .circle {
        width: 150.023px;
        height: 70.268px;
        margin-top: -105px;
        margin-left: 350px;

    }

    .circle h1 {
        font-size: 20px;
        font-weight: 400;
    }

    /* speacial section style */
    .service-section {
        margin: 2px 3px;
        margin-bottom: 20px;
    }

    .service-section h1 {
        margin-left: 10px;
        font-size: 20px;
    }

    .service-container {
        grid-template-columns: 1fr;
        margin-left: 1px;
       
    }

    .service {
        width: 100%;
        /* height: 10px; */
        margin-left: 0;
        margin-right: 2px;
        
    }

    .service p {
        margin-bottom: 15px;
    }


    /* footer section start */
    footer {
       
        width: 100%;
        height: 600px;
        
    }

    .footer-container {
        max-width: 100%;
    }

    hr {
        width: 335px;
        height: 1px;
    }
    .footer-p{
        width: 400px;
        margin: 0 auto;
        
    }

    
}