@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* universial selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

/* header style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 130px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #131318;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    margin-left: 16px;
}



.bar img {
    visibility: hidden;
    width: 24px;
    height: 24px;

}

.tour {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
    
}

.item ul {
    display: flex;
    align-items: center;
}

.item ul li {
    list-style: none;
    margin-right: 48px;
}

.item ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}

/* benner section start */
.banner-section {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13.png");
    border-radius: 16px;
    /* background-repeat: no-repeat; */
    width: 1170px;
    height: 500px;
    margin: 50px auto;
    margin-bottom: 30px;
}

.container {
    justify-content: center;
    text-align: center;
    align-items: center;

}

.banner-title h1 {
    margin-top: 106px;
    margin-bottom: 16px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;

}


.banner-p p {
    width: 676px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    margin-bottom: 48px;

}

.banner-input {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-input input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    position: relative;
}

.prinari-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.prinari-btn i {
    margin-right: 8px;
}

.banner-input input::placeholder {
    color: rgba(19, 19, 24, 0.50);

    padding: 8px;
    font-size: 16px;
    font-weight: 400;
}

/* populer section start */
.populer-section {

    margin-left: 135px;
    margin-right: 135px;



}

.populer-container {
    display: flex;
    justify-content: center;
    
}

.populer-contain h1 {
    color: #131318;
    margin-left: 90px;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 10px;
}
.little-p button{
    margin: 0 auto;
}

.populer-contain p {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;

}

.little-p li {
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 5px;
}

.little-p h3 {
    width: 530px;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

/* Destination-scetion style */
.Destination-scetion {
    margin: 0 300px;
}

.Destination-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;
    justify-content: center;
}

.Destination-title h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.Destination-img {
    gap: 24px;
}

.Destination-title p {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 300px;
}

.img-1 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.img-3 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    object-fit: contain;
}

.img-2 {
    display: flex;
    gap: 24px;
}
.img-1 p, .img-3 p{
    position: relative;
    top: -150px;
    left: 200px;
    color: #FF5400;
    color: #FFF;



font-weight: 800;
}


/* Choose-section start */
.Choose-section {
    margin: 0 300px;
}

.Choo-little-container {
    display: flex;
    gap: 24px;

}

.choose-title {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}

.choose-title img {
    margin: 32px;
    width: 64px;
    height: 64px;
}

.choose-title h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 32px;
    margin-bottom: 20px;
}

.choose-title p {
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 32px;
}

#choose-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#chose-price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
    margin-top: 24px;
}

/* Deals-section start */
.Deals-section {
    margin: 100px 300px;
}

.deal-section-1 {
    background-image: url("../Images/Group\ 39.png");
    border-radius: 16px;
    width: 1170px;
    height: 500px;


}

.deal-containt {
    width: 579px;
    height: 380px;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    border: 2px solid;

    position: absolute;
    margin: 55px 55px 55px 535px;



}

.deal-header {
    display: flex;
    margin: 52px 0 26px 30px;

}

.deal-header {
    margin-right: 24px;
}

.deal-header i {
    margin-right: 4px;

}

.deal-header h3 {
    margin-right: 24px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.deal-dtl h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
    margin-left: 30px;

}

.deal-dtl p {
    width: 452px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 30px;
}

.deal-dtl h1 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-left: 30px;
    margin-top: 16px;
    margin-bottom: 25px;
}

.deal-dtl button {
    margin-left: 30px;
}

.deal-contadiner-scend {
    margin-top: 80px;
    width: 1170px;
    height: 500px;
    background-image: url("../Images/Group\ 40.png");
    margin-bottom: 40px;
}

#deal-scend {


    margin-left: 40px;

}





/* Perfect-section style start */
.Perfect-section {
    margin: 100px 300px;
}

.Perfect-container {
    display: flex;

}

.Perfect-title h1 {
    width: 448px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 24px;

}

.Perfect-title p {
    width: 532px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.Perfect-title ul>li {
    width: 518px;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;

}

.Perfect-img {
    width: 610px;
    height: 424px;
    background-image: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 40089.png');
    justify-content: center;
    align-items: center;
}

.Perfect-img h1 {
    width: 276px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;

    justify-content: center;
    align-items: center;
    margin: 170px 160px;
}

/* Newsletter section start */
.Newsletter-section {
    margin: 0 300px;
}

.Newsletter-container {
    display: flex;
    margin: 0 auto;
}

.Newsletter-form {
    width: 460px;
    height: 422px;
    border-radius: 16px;
border: 1px solid #FF5400;
}

.Newsletter-form h1 {
    margin: 40px 0 5px 40px;
}

.Newsletter-form p {
    width: 350px;
    margin-left: 40px;
    margin-bottom: 24px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.Newsletter-form input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-left: 40px;
    margin-bottom: 26px;
    border: none;
}

.Subscribe-btn {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-left: 40px;
    border: none;
}

.Newsletter-img {
    margin-left: 20px;

}

.circle {
    position: relative;
    margin-top: -175px;
    margin-left: 400px;
    border-radius: 16px;
    background-color: #FF5400;
    align-items: center;
    justify-content: center;
    transform: rotate(-36deg);

    width: 260px;
    height: 100px
}

.circle h2 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

}

.circle h1 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

/* our speacial service style */
.service-section {
    margin: 150px 300px;
    background: rgba(19, 19, 24, 0.05);
}

.service-container {
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
}

.service-section h1 {
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-top: 50px;
    font-weight: 800;
    font-size: 40px;

}

.service {
    width: 250px;
    justify-content: space-around;
    margin-left: 150px;

}

.service h1 {
    font-size: 30px;
    font-weight: 800;
    margin: 30px 0 30px 15px;
}

.service p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 5px;
    margin-bottom: 30px;
}






/* footer section */
footer {
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}

.footer-container {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.footer-logo {
    display: flex;
    margin-top: 110px;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    padding-top: 110px;
}

.footer-p p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.fotter-icon {
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 50px;
}

.fotter-icon p {
    margin-right: 20px;
}

hr {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 872px;

    background: rgba(19, 19, 24, 0.10);

}

.footer-last-p {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #131318;
    font-size: 16px;
    font-weight: 300;
}