@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* universial selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

/* header style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 130px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #131318;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    margin-left: 16px;
}

.tour {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

.item ul {
    display: flex;
    align-items: center;
}

.item ul li {
    list-style: none;
    margin-right: 48px;
}

.item ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}
